<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418600127287-83k4jr08f73e5u86209o3khli07sag1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418600127287-83k4jr08f73e5u86209o3khli07sag1h</string>
	<key>API_KEY</key>
	<string>AIzaSyBKxxBe4zQ_m-n4bShzLXcZRm8lxTU2LK0</string>
	<key>GCM_SENDER_ID</key>
	<string>418600127287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tymoff</string>
	<key>PROJECT_ID</key>
	<string>tymoff-original</string>
	<key>STORAGE_BUCKET</key>
	<string>tymoff-original.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418600127287:ios:0921ffc0199a3b110a68b2</string>
	<key>DATABASE_URL</key>
	<string>https://tymoff-original.firebaseio.com</string>
</dict>
</plist>