<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346348696171-u5d2qvqcup8lf4acri7oe0m0u2jdn9fj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346348696171-u5d2qvqcup8lf4acri7oe0m0u2jdn9fj</string>
	<key>API_KEY</key>
	<string>AIzaSyCFuTaesqJr5dD0eJ4_heX-yLtyx5h4jCo</string>
	<key>GCM_SENDER_ID</key>
	<string>346348696171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.collectcent.tymoff</string>
	<key>PROJECT_ID</key>
	<string>tymoff-b9f4a</string>
	<key>STORAGE_BUCKET</key>
	<string>tymoff-b9f4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346348696171:ios:d5b1458f75c9b474bcf72e</string>
	<key>DATABASE_URL</key>
	<string>https://tymoff-b9f4a.firebaseio.com</string>
</dict>
</plist>